/venv/
/documents/self/doubts.txt
/.idea/.gitignore
/.idea/deployment.xml
/.idea/MC-final-project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/lib/pykalman-master/
/python37_venv/
