/venv/
/documents/self/doubts.txt
/.idea/.gitignore
/.idea/deployment.xml
/.idea/MC-final-project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/lib/pykalman-master/
/python37_venv/
/kalman_filter_barebones.ipynb
/.ipynb_checkpoints/kalman_filter_barebones-checkpoint.ipynb
/sarima_model_barebones.ipynb
/.ipynb_checkpoints/sarima_model_barebones-checkpoint.ipynb
/.ipynb_checkpoints/prediction_task-checkpoint.ipynb
/.ipynb_checkpoints/rnn-checkpoint.ipynb
